@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

body {
    box-sizing: border-box;
    background-color: green;

}


img {
    width: 100%;
    display: block;
}

.count {
    text-align: center;
    margin-top: 20px;
    color: #fff;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
}

.item {
    width: 200px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mole {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
    transition: all 300ms ease;
}

.mole img {
    padding: 7px;
}

.mole-hide {
    bottom: 10px;
    width: 50px;
}

.mole-appear {
    width: 120px;
    bottom: 5px;
    left: 130px;
}

.bush {
    width: 160px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

}

.bam-text {
    font-family: 'Rubik Distressed', cursive;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}